<ion-grid>
  <ion-row>
    <ion-col
      *ngFor="let producto of productos"
      class="ion-no-padding"
      size="6"
      size-sm
    >
      <app-producto-card
        (click)="onClickProducto(producto)"
        [producto]="producto"
      ></app-producto-card>
      <div class="botonera">
        <ion-button
          *ngIf="showEditar"
          expand="block"
          color="primary"
          (click)="onEditarClick(producto)"
          >Editar
        </ion-button>
        <ion-button
          *ngIf="showEliminar"
          expand="block"
          color="danger"
          (click)="onEliminarClick(producto)"
          >Eliminar</ion-button
        >
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
