<ion-header>
  <ion-toolbar>
    <ion-title>
      Nuevo producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- (eliminarClick)="" -->
  <app-producto-list
    [productos]="productos"
    (editarClick)="showProductoForm($event)"
  ></app-producto-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showProductoForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <app-producto-form
    (guardarProducto)="guardarProducto($event)"
  ></app-producto-form> -->
</ion-content>
