<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalle
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let foto of producto.fotos">
        <img [src]="foto" /> </ion-slide
    ></ion-slides>
    <ion-card-header class="header">
      <ion-card-subtitle>{{ producto.precio }}</ion-card-subtitle>
      <ion-card-title class="titulo">{{ producto.producto }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size="4" class="ion-no-padding"><p>Cantidad</p></ion-col>
          <ion-col size="3">
            <ion-button size="small">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <p style="text-align: center;">1</p>
          </ion-col>
          <ion-col size="3">
            <ion-button size="small">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>{{ producto.descripcion }}</p>
    </ion-card-content>
    <ion-button expand="full" color="danger"
      >Agregar a carrito <ion-icon slot="icon-only" name="cart"></ion-icon
    ></ion-button>
  </ion-card>
</ion-content>
